{% extends "registration/password_change_form.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrahead %}
{{ block.super }}
<script>
    {% if user.should_change_password %}
    document.addEventListener("DOMContentLoaded", function(event) {
        old_pwd = document.getElementById('id_old_password');
        old_pwd.setAttribute('readonly', 'true');
        old_pwd.value = {{user.google_oauth_id}};
        old_pwd.style = "background-color: #e5d3d3";
    });
    {% endif %}
</script>
{% endblock %}
