.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.navbar.navbar-expand-lg.navbar-dark {
    align-items: center;
    background-color: rgb(119, 46, 120);
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-wrap: nowrap;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    height: 77px;
    justify-content: flex-start;
    line-height: 24px;
    position: absolute;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    float: left;
    text-size-adjust: 100%;
    top: 0px;
    z-index: 1000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
.navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    text-transform: none;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-sizing: border-box;
}
.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-bottom: 0!important;
}
.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin-right: auto!important;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-item {
    list-style: inherit;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
color: #fff;
}.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
}.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
