{% extends 'main/index.html' %}
{% block title %}CoviRx: Citations{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href={% static "main/css/citations.css"%}/>
{% endblock %}

{% block content %}
<div class="container slide-up">
    <h1>CoviRx</h1>
    <h2>Covid19 Drug Repurposing Database</h2>
    <h3 id="references-title">List of References:</h3>
    <table id="references">
        {% for citation in citations %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ citation }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}

{% block footer_scripts %}
<script>
    $('.nav-link')[4].classList.add('active'); // highlights the Contact nav item
</script>
{% endblock footer_scripts %}
