{% extends 'main/index.html' %}
{% block title %}CoviRx: Cite Us{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href='{% static "main/css/references.css" %}?v={{ static_version }}'/>
{% endblock %}

{% block content %}
<div class="container slide-up mb-5">
    <h1>CoviRx</h1>
    <h2>Covid19 Drug Repurposing Database</h2>
    <h4>If you are using CoviRx then we ask you to cite the below two papers.</h4>
    <div class="table-responsive">
        <table id="references">
            <tr>
                <td>1</td>
                <td class="reference-content">
                    MacRaild, C.A.; Mohammed, M.-U.-R.; Faheem; Murugesan, S.; Styles, I.K.; Peterson,
                    A.L.; Kirkpatrick, C.M.J.; Cooper, M.A.; Palombo, E.A.; Simpson, M.M.; Jain, H.A.;
                    Agarwal, V.; McAuley, A.J.; Kumar, A.; Creek, D.J.; Trevaskis, N.L.; Vasan, S.S.
                    Systematic Down-Selection of Repurposed Drug Candidates for COVID-19.
                    Int. J. Mol. Sci. 2022, 23, 11851. <a href="https://doi.org/10.3390/ijms231911851">https://doi.org/10.3390/ijms231911851</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td class="reference-content">
                    Jain, H.A.; Agarwal, V.; Bansal, C.; Kumar, A.; Faheem; Mohammed, M.-U.-R.; Murugesan, S.;
                    Simpson, M.M.; Karpe, A.V.; Chandra, R.; MacRaild, C.A.; Styles, I.K.; Peterson, A.L.;
                    Cooper, M.A.; Kirkpatrick, C.M.J.; Shah, R.M.; Palombo, E.A.; Trevaskis, N.L.; Creek, D.J.;
                    Vasan, S.S. CoviRx: A User-Friendly Interface for Systematic Down-Selection of Repurposed
                    Drug Candidates for COVID-19. Data 2022, 7, 164. <a href="https://doi.org/10.3390/data7110164">https://doi.org/10.3390/data7110164</a>
                </td>
            </tr>
        </table>
    </div>
    <br><br>
    <h4>Here are some additional articles on our platform that might be of interest:</h4>
    <div class="table-responsive">
        <table id="references">
            <tr>
                <td>1</td>
                <td class="reference-content">
                    S. Jayaraman, K. (2022, October 27). Leaning on repurposed drug candidates to fight covid-19. Nature News.
                    <a href="https://www.nature.com/articles/d44151-022-00115-4">https://www.nature.com/articles/d44151-022-00115-4</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td class="reference-content">
                    McAuley, A.J.; Jansen van Vuren, P.; Mohammed, M.-U.-R.; Faheem; Goldie, S.; Riddell, S.;
                    Gödde, N.J.; Styles, I.K.; Bruce, M.P.; Chahal, S.; Keating, S.; Blasdell, K.R.;
                    Tachedjian, M.; O'Brien, C.M.; Singanallur, N.B.; Viana, J.N.; Vashi, A.V.; Kirkpatrick, C.M.;
                    MacRaild, C.A.; Shah, R.M.; Vincan, E.; Athan, E.; Creek, D.J.; Trevaskis, N.L.; Murugesan, S.;
                    Kumar, A.; Vasan, S.S. Use of Human Lung Tissue Models for Screening of Drugs against
                    SARS-CoV-2 Infection. Viruses 2022, 14, 2417. <a href="https://doi.org/10.3390/v14112417">https://doi.org/10.3390/v14112417</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td class="reference-content">
                    Uniofyork. (2022, November 21). Study narrows search for in-use drugs to tackle COVID-19 mutations. EurekAlert!
                    <a href="https://www.eurekalert.org/news-releases/972007">https://www.eurekalert.org/news-releases/972007</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}
<script>
    $('.nav-link')[5].classList.add('active'); // highlights the References nav item
</script>
{% endblock footer_scripts %}
