{% extends 'main/index.html' %}
{% block title %}CoviRx: {{ name }}{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href='{% static "main/css/flat-loader.css?v={{ static_version }}" %}?v={{ static_version }}' />
<link rel="stylesheet" href='{% static "main/css/individual-drug.css?v={{ static_version }}" %}?v={{ static_version }}' />
{% endblock %}

{% block content %}
<div class="container slide-up">
    <h1>CoviRx</h1>
    <h2>Covid19 Drug Repurposing Database</h2>
    <div class="row">
        <div class="col-9 mb-4">
            <div class="row mt-2 mb-5">
                <div id="d-chembl" class="col-auto me-5">
                    <div class="row ps-1 property-name">ChEMBL ID</div>
                    <div title="ChEMBL ID" class="row ps-1 property-value">{{ chembl }}</div>
                </div>
                <div id="d-name" class="col-auto ms-5">
                    <div class="row ps-1 property-name">Drug name</div>
                    <div class="row ps-1 property-value">{{ name }}</div>
                </div>
            </div>
            <div class="drug-container p-4 row">
                <div class="row"><div class="drug-container-name">Identifiers</div></div>
                {% for k, v in identifiers.items %}
                <div class="col-3 mt-3">
                    <div class="row ps-1 property-name">{{ k }}</div>
                    <div title="{{ k }}" class="row ps-1 property-value">{% if v %}{{ v }}{% else %}-NA-{% endif %}</div>
                </div>
                {% endfor %}
            </div>
            <div class="drug-container p-4 row">
                <div class="row"><div class="drug-container-name">Drug Likeness</div></div>
                {% for k, v in drug_likeness.items %}
                <div class="col-3 mt-3">
                    <div class="row ps-1 property-name">{{ k }}</div>
                    <div class="row ps-1 property-value">{% if v %}{{ v }}{% else %}-NA-{% endif %}</div>
                </div>
                {% endfor %}
            </div>
            <div class="drug-container p-4 row">
                <div class="row"><div class="drug-container-name">Original Indication</div></div>
                {% for k, v in original_indication.items %}
                <div class="col-3 mt-3">
                    <div class="row ps-1 property-name">{{ k }}</div>
                    <div class="row ps-1 property-value">{% if v %}{{ v }}{% else %}-NA-{% endif %}</div>
                </div>
                {% endfor %}
            </div>
            <div id="target-models" class="drug-container p-4 row">
                <div class="row"><div class="drug-container-name">Target Models</div></div>
                <p id="activity-rank"><span>Activity Rank Score:</span>  {{ activity_rank }}</p>
                {% for k, v in target_models.items %}
                <div class="row property-name mt-3">{{ k }}</div>
                    {% for v1, v2 in v.items %}
                    <div class="col-3 mt-1">
                        <div class="row ps-1 mt-2 property-value bold-700">{{ v1 }}</div>
                        <div class="row ps-1 property-value">{% if v2 %}{{ v2 }}{% else %}-NA-{% endif %}</div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="drug-container p-4 row">
                <div class="row"><div class="drug-container-name">PK / PD</div></div>
                {% for k, v in pk_pd.items %}
                <div class="col-3 mt-3">
                    <div class="row ps-1 property-name">{{ k }}</div>
                    <div class="row ps-1 property-value">{% if v %}{{ v }}{% else %}-NA-{% endif %}</div>
                </div>
                {% endfor %}
            </div>
            <div class="drug-container p-4 row">
                <div class="row"><div class="drug-container-name">COVID Trials</div></div>
                {% for k, v in covid_trials.items %}
                <div class="col-3 mt-3">
                    <div class="row ps-1 property-name">{{ k }}</div>
                    <div class="row ps-1 property-value">
                        {% if v %}
                            {% if k == "References" %}<a class="link-no-decoration" href="{{ v }}">{{ v }}</a>
                            {% else %}{{ v }}{% endif %}
                        {% else %}-NA-{% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="drug-container p-4 row">
                <div class="row"><div class="drug-container-name">Red Flags</div></div>
                {% for k, v in red_flags.items %}
                <div class="col-3 mt-3">
                    <div class="row ps-1 property-name">{{ k }}</div>
                    <div class="row ps-1 property-value">{% if v %}{{ v }}{% else %}-NA-{% endif %}</div>
                </div>
                {% endfor %}
            </div>
            <div class="row pt-3 ps-1 property-name">References</div>
            <div class="row ps-1">{{ references }}</div>
        </div>
        <div id="side-col" class="col-3 ps-5">
            <div class="input-group" id="main-search">
                <input type="text" class="form-control" id="keyword" placeholder="Search for drug name">
                <button class="input-group-text" id="search">
                    <i class="bi bi-search" aria-hidden="true"></i>
                </button>
            </div>
            <div id="suggestions"></div>
            <canvas title="smiles" id="smiles-visualization"></canvas>
            <div class="my-4 mx-3">
                <div class="row property-name">SMILES</div>
                <div class="row property-value smiles-inchi">{% if smiles %}{{ smiles }}{% else %}-NA-{% endif %}</div>
            </div>
            <div class="my-4 mx-3">
                <div class="row property-name">InChI Key</div>
                <div class="row property-value smiles-inchi">{% if inchi %}{{ inchi }}{% else %}-NA-{% endif %}</div>
            </div>
            <button class="btn btn-primary col-12 mt-3" id="share-drug">Share drug&nbsp;&nbsp;<i class="bi bi-share"></i></button>
            <span id="share-drug-info">URL copied to clipboard!</span>
            <div class="dropdown">
                <a class="btn btn-success col-12 my-3 dropdown-toggle" href="#" id="downloadDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Download drug data&nbsp;&nbsp;<i class="bi bi-download"></i>
                </a>
                <ul class="dropdown-menu w-100" aria-labelledby="downloadDropdown">
                    <li><a class="dropdown-item" onclick="downloadPDF();">PDF file</a></li>
                    <li><a class="dropdown-item" onclick="location.href='?download-json=True';">JSON file</a></li>
                </ul>
            </div>
            <div class="my-4 mx-3">
                <div class="row property-name">Filters passed by drug</div>
                <ul class="filters">
                    <li id="filter-1">
                        <div class="filter-number">Filter 1</div>
                        <span>has Assay data and passed in vitro assays</span>
                    </li>
                    <li id="filter-2">
                        <div class="filter-number">Filter 2</div>
                        <span>FDA or TGA approved</span>
                    </li>
                    <li id="filter-3">
                        <div class="filter-number">Filter 3</div>
                        <span>not in COVID clinical trials</span>
                    </li>
                    <li id="filter-4">
                        <div class="filter-number">Filter 4</div>
                        <span>CC50 &gt; 10 µM and SI &gt; 10</span>
                    </li>
                    <li id="filter-5">
                        <div class="filter-number">Filter 5</div>
                        <span> COVID IC50 &lt; 10 times original IC50​</span>
                    </li>
                    <li id="filter-6">
                        <div class="filter-number">Filter 6</div>
                        <span>Administered orally or by inhalation</span>
                    </li>
                    <li id="filter-7">
                        <div class="filter-number">Filter 7</div>
                        <span>PAINS, CAD</span>
                    </li>
                    <li id="filter-8">
                        <div class="filter-number">Filter 8</div>
                        <span>different class from clinical trial drugs</span>
                    </li>
                    <li id="filter-9">
                        <div class="filter-number">Filter 9</div>
                        <span>Filter on basis of Indication</span>
                    </li>
                    <li id="filter-10">
                        <div class="filter-number">Filter 10</div>
                        <span>Not in pregnancy categories D and X</span>
                    </li>
                    <li id="filter-11">
                        <div class="filter-number">Filter 11</div>
                        <span>No serious side effects</span>
                    </li>
                </ul>
            </div>
            <div class="drug-container row mb-4">
                <div id="similar_drugs">
                    <div class="drug-container-name px-3 pt-4">Similar Drugs</div>
                    <div class="flat-loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/smiles-drawer@1.0.10/dist/smiles-drawer.min.js"></script>
<script>
    // DRAW SMILES
    let options = {
        width: window.innerWidth * 0.03+220,
        height: window.innerWidth * 0.03+220,
        terminalCarbons:true,
        compactDrawing:false,
        explicitHydrogens:false
    };
    // Initialize the drawer to draw to canvas
    let smilesDrawer = new SmilesDrawer.Drawer(options);
    SmilesDrawer.parse("{{ smiles }}", function(tree) {
        smilesDrawer.draw(tree, "smiles-visualization", "light", false);
    });

    // Filters
    var filters = parseInt({{ filters_passed }});
    for(let i=0;i<filters; i++) {
        $(`#filter-${i}`).addClass('checked', i*800);
    }
    $(`#filter-${filters}`).addClass('failed', filters*800);
</script>
<script src='{% static "main/js/individual-drug.js?v={{ static_version }}" %}?v={{ static_version }}' type="text/javascript"></script>
{% endblock footer_scripts %}
