{% extends 'main/index.html' %}
{% block title %}CoviRx: Covid19 Drug Repurposing Database{% endblock %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href={% static "main/css/contact.css"%}/>
{% endblock %}

{% block content %}
	<div class="container slide-up">
		<h1>CoviRx</h1>
		<h2>Covid19 Drug Repurposing Database</h2>


		<form action="" method="POST">

			<div class="success-msg">
	            <i class="bi bi-check2-circle"></i>
	            You have successfully logged out!
	            <br>
	             <h3 class="text-center">Please login again</h3>
			</div>

		</form>

	
{% endblock content %}

{% block footer_scripts %}
{% endblock footer_scripts %}