{% extends 'main/index.html' %}
{% block title %}CoviRx: Monitor Articles Verification{% endblock%}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href='{% static "main/css/references.css" %}?v={{ static_version }}'/>
<link rel="stylesheet" href='{% static "main/css/pagination.css" %}?v={{ static_version }}'/>
<style>
    .modal-dialog {
        max-width: 80%;
    }
</style>
{% endblock %}
{% block content %}
<div class="container slide-up mb-5">
    <h1>CoviRx</h1>
    <h2>Covid19 Drug Repurposing Database</h2>
    <h3 id="references-title">Work done by Staff members is listed below</h3>
    <div class="table-responsive">
        <table id="references" class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    {% for h in heading %}
                    <th>{{ h }}</th>
                    {% endfor %}
                    <th>Send reminder email</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for member in staff %}
                <tr id="{{member.email}}">
                    <td class="serial-no">{{forloop.counter}}</td>
                    <td class="name">{{member.get_full_name}}</td>
                    <td class="verified">{{member.verified_articles.count}}</td>
                    <td class="unverified">{{member.unverified_articles.count}}</td>
                    <td class="remind"><a class="btn btn-secondary" href="mailto:{{member.email}}?subject=Reminder%20to%20complete%20articles%20verification&body=Dear%20{{member.get_full_name}}%2C%0D%0AYou%20have%20{{member.unverified_articles.count}}%20articles%20left%20to%20verify.%20Kindly%20speed%20up%21%0D%0A%0D%0ARegards%2C%0D%0A{{user.get_full_name}}">Remind</a></td>
                    <td class="verification-details"><button class="btn btn-secondary" onclick="showModal(`{{ member.email|cut:'@' }}-verification-details`);">View</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="center">
        <div class="pagination">
            <a class="active" id="link-prev" onclick="changePage('-1')" href="#">&laquo;</a>
            <a class="active" id="link-next" onclick="changePage('-2')" href="#">&raquo;</a>
        </div>
    </div>
</div>
{% for member in staff %}
<div class="modal fade show" id="{{ member.email|cut:'@' }}-verification-details" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ member.email|cut:'@' }}-verification-details-title">User: {{ member.get_full_name }} &lt;{{ member.email }}&gt;</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column text-center">
                    <div class="table-responsive">
                        <table class="references table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Drug Name</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Revert</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for revision in member.revision_set.all %}
                                <tr class="revision-history">
                                    <td class="serial-no">{{forloop.counter}}</td>
                                    <td class="drug-name">{{revision}}</td>
                                    <td class="date">{{revision.date_created}}</td>
                                    <td class="action">{{revision.get_comment}}</td>
                                    <td class="revert">
                                        <form action="" method="post" >
                                            {% csrf_token %}
                                            <input type="hidden" name="revision_id" value="{{revision.pk}}">
                                            <button type="submit" class="btn btn-secondary">Revert</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
{% block footer_scripts %}
<script>
    $('#msg').html("{{ msg }}");
    function showModal(modal_id) {
        var myModal = new bootstrap.Modal(document.getElementById(modal_id), {});
        myModal.show();
    }
</script>
<script src='{% static "main/js/pagination.js" %}?v={{ static_version }}' type="text/javascript"></script>
{% endblock footer_scripts %}
