{% extends 'main/index.html' %}
{% block title %}CoviRx: Participating Organisations{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href='{% static "main/css/organisations.css" %}?v={{ static_version }}'/>
{% endblock %}

{% block content %}
<div class="container slide-up">
    <h1>CoviRx</h1>
    <h2>Covid19 Drug Repurposing Database</h2>
    <h4>
        CoviRx.org was developed as part of an AU$1.7 million ‘sySTEMs initiative’ (Principal Investigator:
        Professor Seshadri S. Vasan), funded by the National Health and Medical Research Council (NHMRC) of
        Australia. The BITS Pilani team which developed this website includes Hardik Jain and Dr Vinti Agarwal.
    </h4>
    <h3 id="organisations-title" class="text-center fs-3">Organisations Participating in this initiative</h3>
    <div id="organisations-list" class="row justify-content-center">
        <div class="card mb-4 bg-body">
            <a href="https://www.csiro.au/">
                <img class="card-img-top" src='{% static "main/images/csiro.jpg" %}' alt="CSIRO">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.health.gov.au/campaigns/mrff">
                <img class="card-img-top" src='{% static "main/images/mrff.jpg" %}' alt="MRFF">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.barwonhealth.org.au/">
                <img class="card-img-top" src='{% static "main/images/barwon_health.png" %}' alt="Barwon Health">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.bits-pilani.ac.in/">
                <img class="card-img-top" src='{% static "main/images/bits_pilani.png" %}' alt="BITS Pilani">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.griffith.edu.au/griffith-sciences/compounds-australia">
                <img class="card-img-top" src='{% static "main/images/compunds_aus.jpeg" %}' alt="Compounds Australia">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.deakin.edu.au/">
                <img class="card-img-top" src='{% static "main/images/deakin_university.jpg" %}' alt="Deakin University">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.doherty.edu.au/">
                <img class="card-img-top" src='{% static "main/images/doherty.png" %}' alt="Doherty Institute">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.griffith.edu.au/">
                <img class="card-img-top" src='{% static "main/images/griffith.png" %}' alt="Griffith University">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.monash.edu/">
                <img class="card-img-top" src='{% static "main/images/monash_uni.png" %}' alt="Monash University">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.qimrberghofer.edu.au/">
                <img class="card-img-top" src='{% static "main/images/qimr.png" %}' alt="QIMR Berghofer Medical  Research Institute">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.swinburne.edu.au/">
                <img class="card-img-top" src='{% static "main/images/swinburne.png" %}' alt="Swinburne university of Technology">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.unimelb.edu.au/">
                <img class="card-img-top" src='{% static "main/images/melbourne.jpg" %}' alt="University of Melbourne">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.unsw.edu.au/">
                <img class="card-img-top" src='{% static "main/images/unsw.jpg" %}' alt="University of New South Wales">
            </a>
        </div>
        <div class="card mb-4 bg-body">
            <a href="https://www.usq.edu.au/">
                <img class="card-img-top" src='{% static "main/images/queensland.png" %}' alt="University of Queensland">
            </a>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}
<script>
    $('.nav-link')[2].classList.add('active'); // highlights the Organisations nav item
</script>
{% endblock footer_scripts %}
