{% extends 'main/index.html' %}
{% block title %}CoviRx: References{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href='{% static "main/css/references.css" %}?v={{ static_version }}'/>
{% endblock %}

{% block content %}
<div class="container slide-up mb-5">
    <h1>CoviRx</h1>
    <h2>Covid19 Drug Repurposing Database</h2>
    <h3 id="references-title">List of References:</h3>
    <div class="table-responsive">
        <table id="references">
            {% for reference in references %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="reference-content">{{ reference }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}
<script>
    $('.nav-link')[4].classList.add('active'); // highlights the References nav item
</script>
{% endblock footer_scripts %}
