{% extends "admin/index.html" %}
{% load static %}

{% block extrahead %}
{{block.super}}
<link rel="stylesheet" href='{% static "main/css/covirx-charts.css" %}'/>
<style>
    .btn-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src={% static "main/js/covirx-charts.js"%} type="text/javascript"></script>
<script type="text/javascript">
    var requested_charts = {'charts': ['visitors', 'categories', 'labels', 'phase']};
    load_charts(requested_charts);
</script>
{% endblock %}

{% block sidebar %}
    {{block.super}}
    <div class="charts-visualisation">
        <h1>Chart Visualisations</h1>
        <button id="visitors-view" class="btn-primary">Change to Monthly View</button>
        <div id="visitor-chart" class="covirx-g-chart"></div>
        <div id="categories-chart">
            <div id="drug-categories-chart"></div>
            <div id="labelOverlay">
                <p class="donut-center-figure"><span>-NA-</span></p>
                <p class="donut-center-text">Total Drugs</p>
            </div>
        </div>
        <div id="drug-labels-chart" class="covirx-g-chart"></div>
        <div id="drug-phase-chart" class="covirx-g-chart"></div>
    </div>
{% endblock %}
