{% extends "admin/index.html" %}
{% load static %}

{% block extrahead %}
{{block.super}}
<link rel="stylesheet" href='{% static "admin/css/covirx-charts.css" %}?v={{ static_version }}'/>
<style>
    .btn-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='{% static "main/js/covirx-charts.js" %}?v={{ static_version }}' type="text/javascript"></script>
<script type="text/javascript">
    var requested_charts = {'charts': ['visitors', 'categories', 'labels', 'phase']};
    load_charts(requested_charts);
</script>
{% endblock %}

{% block sidebar %}
    {{block.super}}
    <div class="charts-visualisation">
        <h1>Chart Visualisations</h1>
        <button id="visitors-view" class="btn-primary">Change to Monthly View</button>
        <div id="visitor-chart" class="covirx-g-chart"></div>
        <div id="categories-chart">
            <div id="drug-categories-chart"></div>
            <div id="labelOverlay">
                <p class="donut-center-figure"><span>-NA-</span></p>
                <p class="donut-center-text">Total Drugs</p>
            </div>
        </div>
        <div id="drug-labels-chart" class="covirx-g-chart"></div>
        <ul class="labels-description">
            <ol><b>White</b>: Indicates the drugs which were not found to be under any clinical trials.</ol>
            <ol><b>Amber</b> Indicates the drugs which are under clinical trials.</ol>
            <ol><b>Green</b>: Indicates the drugs which were accepted in clinical trials.</ol>
            <ol><b>Red</b> Indicates the drugs which were rejected in clinical trials.</ol>
        </ul>
        <div id="drug-phase-chart" class="covirx-g-chart"></div>
    </div>
{% endblock %}
