html {
    overflow: auto;
}
.drug-container, #smiles-visualization {
    border: 3px solid;
    border-color: rgba(89, 2, 122, 0.3);
    border-radius: .6rem;
    margin-top: 2rem;
}
.drug-container-name {
    margin-top: -38px;
    background: white;
    width: max-content;
    height: max-content;
    margin-bottom: unset;
    text-transform: uppercase;
    font-weight: 900;
}
.property-name {
    font-weight: 900;
    font-size: 16px;
    color: rgba(89, 2, 122, 1);
}
.property-value {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.property-value.hide-overflow:hover {
    overflow: unset;
    z-index: 100;
    background-color: white;
    position: relative;
    width: max-content;
    border: solid thin;
    border-radius: 17px;
    box-shadow: 0px 8px 10px lightgray, -10px 8px 15px lightgray,
        10px 8px 15px lightgray;
    padding: 4px;
    margin-bottom: -10px;
}
#keyword {
    border-radius: 20px 0 0 20px;
}
#search {
    border-radius: 0 20px 20px 0;
}
.smiles-inchi {
    border: 1px solid #ced4da;
    border-radius: .3rem;
    background-color: #e9ecef;
}
#share-drug-info {
    display: none;
}

#no-match.no-match.suggestion.row i.bi.bi-emoji-frown {
    text-align: center !important;
    font-size: 16px !important;
}
#suggestions {
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 10px lightgray, -10px 8px 15px lightgray,
        10px 8px 15px lightgray;
    max-height: 45vh;
    overflow: auto;
    font-size: 16px;
    position: relative;
}
#suggestions .one, #suggestions .two, #similar_drugs .one, #similar_drugs .two {
    display: flex;
    align-items: center;
}
#suggestions .suggestion.row, #similar_drugs .suggestion.row {
    border-top: 2px solid blue;
    margin: unset;
}
#suggestions .suggestion-field, #similar_drugs .suggestion.row {
    padding: 8px 0px 0px 0px;
    font-weight: bolder;
    color: purple;
}
.suggestion.row:not(.no-match):hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.39);
}
@media (max-width: 1000px) {
    /* CSS that should be displayed if width is equal to or less than 1000px goes here */
    #suggestions .suggestion-field-canvas {
        display: none;
    }
}
@media screen and (max-width: 485px) {
    #d-name, #d-chembl {
        margin: unset !important;
    }
    #side-col {
        padding-left: unset !important;
        padding-right: 4rem;
    }
    .container {
        padding-left: 4rem;
    }
}
#target-models .row.property-name {
    border-top: 3px solid;
    border-color: rgba(89, 2, 122, 0.3);
}
#target-models .row.property-value.bold-700 {
    font-weight: 700;
}
#target-models #activity-rank {
    font-size: 1.5rem;
    text-align: center;
    margin: unset;
}
#target-models #activity-rank span {
    font-weight: bolder;
    color: green;
}
.filters {
    padding: unset;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.filters li {
    color: grey;
  display: flex;
}
.filters .filter-number {
  position: relative;
  padding-right: 1em;
  width: 4.8em;
}
.filters .filter-number::after {
    content: "";
    background: white;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    transform: translateX(50%);
    border-radius: 50%;
    border: 1px #ccc solid;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align:center;
    font-weight: bold;
}
.filters li.checked, .filters li.failed {
    color: black;
}
.filters li.checked .filter-number::after {
    content: "\2713";
    background: yellowgreen;
    color: white;
}
.filters li.failed .filter-number::after {
    content: "\2715";
    background: red;
    color: white;
}
.filters span {
  padding: 0 0 1.5em 1.5em;
  position: relative;
  width: 12em;
}
.filters span::before {
   content: "";
   position: absolute;
   z-index: 1;
   left: 0;
   height: 100%;
   border-left: 3px #ccc solid;
}
.filters li.checked span::before {
    border-left: 3px yellowgreen solid;
}
.filters li.failed span::before {
    border-left: 3px red solid;
}
@media print {
    #smiles-visualization {
        break-inside: avoid;
        break-before: always;
    }
}
.link-no-decoration {
    padding: unset;
    text-decoration: unset;
}
