.container.slide-up {
    margin-top: 75px;
}
.container h1 {
	font-size: 6.7vw;
}
.container h2 {
    font-size: 3.3vw;
    margin-bottom: 30px;
}
.container h1, h2 {
    font-family: "Sans Serif";
    text-align: center;
    color: rgba(89, 2, 122, 0.67);
    white-space: nowrap;
    letter-spacing: 0px;
    word-break: normal;
    font-weight: bold;
    filter: drop-shadow(rgba(0, 0, 0, 0.65) 0px 6px 6px);
}
@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .col-3, .col-4, .col-5 {
        width: 95%;
    }
    #suggestions .suggestion-field-canvas {
        margin-top: -90px;
    }
}
nav .container-fluid {
	font-size: 30px;
	padding: 0 10%;
}
nav .navbar-brand {
    max-width: 50%;
}
nav .covirx-nav-logo {
    width: 140px;
}
.header-login, .header-logout a, .header-login:hover, .header-logout a:hover {
    color: white;
    font-size: 30px;
    text-decoration: unset;
}
.header-logout a, .header-logout a:hover {
    padding: unset;
}
nav {
    z-index: 1000;
    position: fixed !important;
    width: 100%;
    background-color: #772e78;
    top: 0;
}
.alert {
    padding: unset;
    display: none;
    top: 4.5rem;
    width: 100%;
    text-align: center;
}
#msg {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    padding: 8px 0px 0px 30px;
    line-height: 1;
}
@media (min-width: 576px){
    #admin-login-modal .modal-dialog {
      max-width: 400px;
    }
    #admin-login-modal .modal-content {
        padding: 1rem;
    }
}
#admin-login-modal input {
    margin-bottom: 20px;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
