.container.slide-up {
    margin-top: 75px;
}
.container h1 {
	font-size: 6.7vw;
}
.container h2 {
    font-size: 3.3vw;
    margin-bottom: 30px;
}
.container h1, h2 {
    font-family: "Sans Serif";
    text-align: center;
    color: rgba(89, 2, 122, 0.67);
    white-space: nowrap;
    letter-spacing: 0px;
    word-break: normal;
    font-weight: bold;
    filter: drop-shadow(rgba(0, 0, 0, 0.65) 0px 6px 6px);
}
@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .col-3, .col-4, .col-5 {
        width: 95%;
    }
    #suggestions .suggestion-field-canvas {
        margin-top: -90px;
    }
}
nav .container-fluid {
	font-size: 30px;
	padding: 0 20%;
}
.header-login {
    color: rgba(255,255,255,.5);
    font-size: 30px;
    text-decoration: unset;
}
.header-login:hover {
    color: rgba(255,255,255,.75)
}
nav {
    z-index: 1000;
    position: fixed !important;
    width: 100%;
    background-color: #772e78;
    top: 0;
}
