.container.slide-up {
    margin-top: 75px;
}
.container h1 {
	font-size: calc(.75rem + 3.5vw);
}
.container h2 {
    font-size: calc(.5rem + 1.5vw);
    margin-bottom: 30px;
}
.container h1, h2 {
    font-family: "Sans Serif";
    text-align: center;
    color: rgba(89, 2, 122, 0.67);
    white-space: nowrap;
    letter-spacing: 0px;
    word-break: normal;
    font-weight: bold;
    filter: drop-shadow(rgba(0, 0, 0, 0.65) 0px 6px 6px);
}
@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .col-3, .col-4, .col-5 {
        width: 95%;
    }
    #suggestions .suggestion-field-canvas {
        margin-top: -90px;
    }
}
nav .container-fluid {
	font-size: 20px;
	padding: 0 15%;
}
nav .navbar-brand {
    max-width: 50%;
}
nav .covirx-nav-logo {
    width: 140px;
}
.header-login, .header-logout a, .header-login:hover, .header-logout a:hover {
    color: white;
    font-size: 20px;
    text-decoration: unset;
}
.header-logout a, .header-logout a:hover {
    padding: unset;
}
.site-header {
    z-index: 1000;
    position: fixed !important;
    width: 100%;
    top: 0;
}
nav {
    background-color: #772e78;
}
#msg0 {
    margin: unset;
    text-align: center;
    line-height: 1;
}
#msg {
    width: 100%;
    text-align: center;
    display: block;
    padding: 1px;
    line-height: 1;
}
@media (min-width: 576px){
    #admin-login-modal .modal-dialog {
      max-width: 400px;
    }
    #admin-login-modal .modal-content {
        padding: 1rem;
    }
}
#admin-login-modal input {
    margin-bottom: 20px;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#CookielawBanner {
    padding: 15px 0 15px 0;
    background-color: floralwhite;
    box-shadow: 0 -2px 10px 0 rgba(38,50,56,.7);
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
}
#CookielawBanner .Container {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#CookielawBanner .Container .btn {
    border-radius: 45px;
    position: relative;
    z-index: 2;
    text-align: center;
    display: block;
    margin: 0 0 0 10px;
    font-family: Raleway,sans-serif;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    width: 137px;
    font-weight: 600;
    font-size: .875em;
    height: 40px;
    line-height: 28px;
    color: #fff!important;
    background-color: #29a156;
    text-transform: uppercase;
    border: unset;
}
#CookielawBanner #CookielawCross {
    background: url(../images/close-ic.png) no-repeat 9px 9px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
}
#CookielawBanner .Container p {
    margin: unset;
    line-height: 100%;
}
#CookielawBanner .Container p a {
    color: #259344;
    text-decoration: none;
}
#google_translate_element {
    bottom: 75px;
    right: 5%;
    position: fixed;
    z-index: 900;
    background: #78387826;
    padding: 8px;
    border-radius: 10%;
}
body > .skiptranslate {
    display: none;
}
svg > g > g:last-child {
    pointer-events: none; /* Google Charts flickering issue */
}
.wrap:hover {
    white-space: pre-wrap !important;      /* CSS3 */
    white-space: -moz-pre-wrap !important; /* Firefox */
    white-space: -pre-wrap !important;     /* Opera <7 */
    white-space: -o-pre-wrap !important;   /* Opera 7 */
    word-wrap: break-word !important;      /* IE */
}
