#organisations-title {
    color: #772e78;
    text-align: center;
}
.card {
    width: 16rem;
    height: 16rem;
    margin: 0.7rem;
    position: relative;
    border-color: rgba(128, 128, 128, 0.6);
}
.card-img-top {
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
}
.card-img-top:hover {
    max-height: 90%;
    max-width: 90%;
    cursor: pointer;
}
