.center {
    text-align: center;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination a.active {
    background-color: #772e78;
    color: white;
    border: 1px solid #772e78;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
