/* hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#references td,
#references th {
    padding: 8px;
}
#references td.reference-content {
    word-break: break-word;
}

#references tr:nth-child(even) {
    background-color: #f2f2f2;
}

#references tr:hover {
    background-color: #ddd;
}

#references th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #772e78;
    color: white;
}
#references-title {
    color: #772e78;
}
#references a {
    text-decoration: none;
}
